.navbar-nav {
    margin-right: 0rem !important;
    padding-right: 5rem;
}

.navbar-brand,
.nav-urls {
    color: rgb(248, 227, 246);
}

.navbar-brand{
    width: 50%;
}

.navbar-brand img {
    width: 8%;
    height: 5%;
    mix-blend-mode:luminosity
}

.nav-item a {
    text-decoration: none;
}

.nav-urls {
    cursor: pointer;
    margin-right: 1.5rem;
}

.nav-urls:hover {
    color: rgb(243, 17, 201);
}

.collapse.navbar-collapse {
    justify-content: flex-end;
}

@media only screen and (max-width:991px) {
    .navbar-brand{
        width: 40%;
    }
    .navbar-brand img {
        width: 35%;
    }
}